@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: auto;
    max-height: fit-content;
    align-items: center;
    gap:53%;
    padding: 1vh 2vh;
    border: 1px solid rgba(136, 128, 128, 0.7);
}

.header__logo{
    width: auto;
    max-width: 9%;
}

.header__menu{
    display: flex;
    gap: 25px;
    align-items: center;
}

.header__menu__searchbar{
    background-image: url(./design/assets/1magnifying-glass-1976105_1280.png) no-repeat left center fixed;
    background-color: #F3F4F6;
    color: #6B7280;
    padding: 5px 15px;
    border-radius: 20px;
    border: #6B7280;

    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align: end;

}

.header__menu__link{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #161343;

}

.header__menu__login{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 800;

    background-color: #161343;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;

}

.home{
    width: 100%;
    background-color: #F3F4F6;
}
.hero{
    position: relative;
    height: 70vh;
    min-height: 45vh;
    max-height: 400px;

    width: 100%;
    background-image:url(./design/assets/Hero.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

.hero-container{
    max-width: 100%;
    padding: 64px 16px;

    display: flex;
    flex-direction: column;
    gap: 15px;


}

.hero-text{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 5%;
    gap: 50px;

}

.hero-text__title{
    color:rgba(255, 255, 255, 1);
    font-size: 42px;
}

.hero-text__subtitle{
    color:rgba(221, 221, 221, 0.9);
    font-size: 18px;
}

.home-card{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);

    background-color: #FFFFFF;
    width: 380px;  
    padding: 16px;
    gap:10px;
    border-radius: 16px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
    margin-top: 24px;

}
.home-card__options{
    color: black;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.home-card__inputs{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #6B7280;
    background-color: #F3F4F6;
    padding: 10px;
    border-radius: 8px;
}

.home-card__viewbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 348px;
    background-color: #4F46E5;
    padding: 12px 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    color: #FFFFFF;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}

.home-card__viewbutton:hover{
    background-color: #5b2eff;
    font-weight: 800;

}

.home-card__viewbutton__eyeicon{
    width: auto;
    max-width: 9%;
}
